---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 | Não encontrado">
  <div class="min-h-screen flex items-center justify-center p-10">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-4">404</h1>
      <p class="text-neutral-400">Algo deu errado. Página não encontrada.</p>
      <a href="/" class="text-green-500 hover:underline mt-4 inline-block">Voltar para home</a>
    </div>
  </div>
</Layout>